@keyframes pisca{
    0%{opacity: 0.2;}
    50%{opacity: 1;}
    100%{opacity: 0.2;}
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.urna{
    background-color: #dbd5c9;
    padding: 30px;
    display: flex;
}

.tela{
    width: 450px;
    height: 320px;
    background: linear-gradient(to right, #e8e8e8, #c1c1c1);
    border: 2px solid #555555;
    display: flex;
    flex-direction: column;
}

.teclado{
    margin-left: 30px;
    background-color: #403a3a;
}

.tecladoLinha{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.tecladoBotao{
    width: 70px;
    height: 40px;
    background-color: #000000;
    color: #ffffff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0px #555555;
}

.btnBranco{
    background-color: #ffffff;
    color: #000000;
    font-size: 15px;
}

.btnCorrige{
    background-color: #f09046;
    color: #000000;
    font-size: 15px;
}

.btnConfirma{
    background-color: #48c079;
    color: #000000;
    font-size: 15px;
    width: 90px;
    height: 50px;
}

.d1{
    flex: 1;
    display: flex;
}

.d1LadoEsquerdo{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.d1Frase{
    height: 50px;
    display: flex;
    align-items: center;
}

.d1Cargo{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d1Num{
    height: 50px;
}

.num{
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid #000000;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

.pisca{
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.d1Info{
    flex: 1;
    line-height: 30px;
}

.d1LadoDireito{
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.d1Image{
    border: 1px solid #000000;
    background-color: #ffffff;
    text-align: center;
    font-size: 14px;
}

.d1Image img{
    width: 100%;
}

.d1Image.small{
    width: 80%;
    font-size: 12px;
}

.d2{
    height: 50px;
    font-size: 14px;
    border-top: 2px solid #000000;
    padding-left: 10px;
}

.avisoGrande{
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
}

.avisoGigante{
    font-size: 80px;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}